.benefits {
  margin-top: 65px;
  padding-bottom: 98.3px;
  .title {
    font-size: 40px;
    margin-top: 10px;
  }
  .description {
    color: rgba(0, 0, 0, 0.68);
    width: 192px;
    font-size: 14px;
  }
  .b-object {
    height: 144px;
  }
}
