.footer {
  height: 508px;
  background-image: url('../images/footer-bg.svg');

  background-position: -1px bottom;
  .footer-secs {
    // margin-top: 104.89px;
    p {
      margin-top: 16.5px;
      margin-bottom: 16.5px;
      cursor: pointer;
    }
  }
  > :last-child {
    // margin-right: 188.17px;
  }
}
@media (max-width: 640px) {
  .footer {
    height: auto;
    .footer-secs {
      min-width: 280px;
    }
    > :last-child {
      margin-right: 0;
    }
  }
}
