.hero {
  background-image: url('../images/hero.svg');
  .logo {
    background-image: url('../images/NFTLogo.svg');
  }
}
@media (max-width: 360px) {
  .hero {
    background-image: url(../images/hero-mobile.svg);
  }
}

@media (max-width: 640px) {
  .hero {
    min-height: 252px;
    padding: 0;
  }
  .hero-comment {
    h2,
    img {
      margin-left: 0px;
    }
    img,
    p {
      margin-top: 0px;
    }
    .register {
      width: 77px;
      height: 23px;
      margin-top: 0px;
      margin-left: 0px;
    }
  }
  .nft-head {
    width: 138px;
  }
}

@media (min-width: 640px) {
  .hero {
    min-height: 400px;
    padding: 0;
    .logo {
      width: 40px;
      background-size: contain;
      height: 40px;
    }
    .hero-comment {
      p {
        width: 200px;
      }
    }
  }
  .nft-head {
    width: 138px;
  }
}
@media (min-width: 768px) {
  .hero {
    padding: 0 20px;
    min-height: 500px;
  }
  .nft-head {
    width: 170px;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-image: url('../images/hero.svg');
    max-height: 100vh;
    min-height: 775px;
    background-repeat: no-repeat;

    padding-left: 20px;
    padding-right: 20px;

    nav {
      .logo {
        background-image: url('../images/NFTLogo.svg');
        width: 69.29px;
        height: 81px;

        animation: Slide_Left 1.5s ease-in-out forwards;
      }
      .links {
        width: 484px;
        p {
          animation: Slide_Up forwards;
        }
        p:first-child {
          animation-duration: 1s;
        }
        p:nth-child(2) {
          animation-duration: 1.5s;
        }
        p:nth-child(3) {
          animation-duration: 2s;
        }
        p:nth-child(4) {
          animation-duration: 2.2s;
        }
      }
      .buttons {
        width: 129px;
        height: 27px;
        margin-top: 42px;
        animation: Slide_Left 2s forwards;
        .cart {
          background-image: url('../images/cart.svg');
          width: 27px;
        }
        .profile {
          background-image: url('../images/person.svg');
        }
      }
    }
    .hero-comment {
      animation: Slide_Left 1s forwards;
      h2,
      img {
        margin-left: 19px;
      }
      p {
        width: 244px;
        font-size: 13px;
      }
      img,
      p {
        margin-top: 37px;
      }
      .register {
        width: 148px;
        height: 33px;

        font-size: 12px;
        margin-top: 37px;

        background: linear-gradient(89.89deg, #e426fd -1.26%, #7302ea 96.22%);
        border-radius: 14px;
      }
    }
  }
  .nft-head {
    width: 230px;
  }
}
@media (min-width: 1280px) {
  .hero {
    padding-left: 76px;
    padding-right: 48px;
  }
}
