.hero {
  background-image: url('../images/hero.svg');
  max-height: 100vh;
  min-height: 775px;
  background-repeat: no-repeat;
  padding-left: 76px;
  padding-right: 48px;
  background-size: cover;
  nav {
    .logo {
      background-image: url('../images/NFTLogo.svg');
      width: 69.29px;
      height: 81px;
      margin-top: 23px;
      animation: Slide_Left 1.5s ease-in-out forwards;
    }
    .links {
      margin-left: 260.71px;
      margin-top: 43px;
      width: 484px;
      p{
        animation: Slide_Up forwards;
      }
      p:first-child{
        animation-duration: 1s;
      }
      p:nth-child(2){
        animation-duration: 1.5s;
      }
      p:nth-child(3){
        animation-duration: 2s;

      }
      p:nth-child(4){
        animation-duration: 2.2s;

      }
    }
    .buttons {
      margin-left: 213px;
      width: 129px;
      height: 27px;
      margin-top: 42px;
      animation: Slide_Left 2s forwards;
      .cart {
        background-image: url('../images/cart.svg');
        width: 27px;
      }
      .profile {
        background-image: url('../images/person.svg');
      }
    }
  }
  .hero-comment {
    animation: Slide_Left 1s forwards;
    h2,
    img {
      margin-left: 19px;
    }
    p {
      width: 244px;
      font-size: 13px;
    }
    img,
    p {
      margin-top: 37px;
    }
    .register {
      width: 148px;
      height: 33px;
      margin-top: 37px;
      margin-left: 87px;
      background: linear-gradient(89.89deg, #e426fd -1.26%, #7302ea 96.22%);
      border-radius: 14px;
    }
  }
}
