.Q {
  background-color: #f3f3f3;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  padding-top: 21px;
  padding-left: 50px;
  padding-bottom: 65.66px;
  .question-slide {
    .q-describe {
      max-width: 583px;
    }
  }
  > div:nth-child(2) {
    > div {
      > div:first-child {
        height: 75.35px;
        margin-right: 65px;
      }
      > div:nth-child(2) {
        height: 180px;
        div:nth-child(2) {
          p {
            // width: 583px;
            line-height: 16.85px;
            font-size: 14px;
            text-align: justify;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Q {
    padding: 20px 10px;
    > div:nth-child(2) {
      > div {
        > div:first-child {
          height: 75.35px;
          margin-right: 65px;
        }
        > div:nth-child(2) {
          height: auto;
          padding-bottom: 70px;
        }
      }
    }
  }
}
