.sections{
    width: 959px;
height: 123px;

}
@media(max-width:360px){
    .sections{
        width: 100vw;
        overflow-x: scroll;
        background: linear-gradient(180deg, rgba(29, 19, 85, 0) 4.44%, rgba(28, 18, 84, 0.2) 100%);
        margin-top:0;
        >div{
           margin: 0 40px;
        }
    }
}