.sort-container {
  width: 648px;
  height: 43px;
    padding-left: 44.2px;
    padding-right: 73px;
  background: #1c1254;
  border-radius: 21.5px;
  
  margin-top: 114px;
}
@media(max-width:640px){
  .sort-container{
    width: 340px;
    padding: 0 10px;margin-top: 20px;
    
  }
}