@use 'hero';
@use 'searchbox';
@use 'sections';
@use 'sort';
@use 'items';
@use 'card';
@use 'popular';
@use 'benefits';
*{
    background-repeat: no-repeat;
    box-sizing: border-box !important;
}
.divider{
    width: 1px;
    border-radius: 100%;
    background-color: rgba(217, 217, 217,0.63);
}
.container{
    width: 1112px;
}