@use 'aanimation';
@use 'hero';
@use 'searchbox';
@use 'sections';
@use 'sort';
@use 'items';
@use 'card';
@use 'popular';
@use 'benefits';
@use 'Q';
@use 'footer';
@use 'header';
@use 'detail';
@use 'related';
*{
    background-repeat: no-repeat;
    box-sizing: border-box !important;
}
.divider{
    width: 1px;
    border-radius: 100%;
    background-color: rgba(217, 217, 217,0.63);
}
.container{
    max-width: 1112px;
}
.navigation{
    height:76px;
    p{
        color: rgba(0,0,0,0.44);
        position: relative;
    }
    P::after{
        content: "";
        margin: 0 4.5px;
        background-image: url('../images/navnext.svg');
    }
    :last-child{
        color:  #1D1355;
        
    }
    :last-child::after{
        content: unset;
    }
}

.flip360:hover{
    animation: flip360 1s ease-in-out;
}